ARGYLE_API_KEY=
ARGYLE_API_SECRET=

BFF_API_URL=https://bff.develop.argyle.com
UNIT_API_URL=https://api.s.unit.sh
UNIT_API_KEY=

NEXT_PUBLIC_ARGYLE_BASE_URL=https://api-sandbox.develop.argyle.com/v1
NEXT_PUBLIC_ARGYLE_LINK_SCRIPT=https://plugin.develop.argyle.com/argyle.web.v3.js

## NEXT_PUBLIC_ARGYLE_BASE_URL=https://api-sandbox.argyle.com/v1
## NEXT_PUBLIC_ARGYLE_LINK_SCRIPT=https://plugin.argyle.com/argyle.web.v3.js

NEXT_PUBLIC_ARGYLE_LINK_KEY=
NEXT_PUBLIC_ARGYLE_CUSTOMIZATION_ID=

NEXT_PUBLIC_GTM_ID=